<Project>
  <PropertyGroup>
    <SsDevApp></SsDevApp>
    <SsDevId></SsDevId>
    <SsDevPassword></SsDevPassword>
    <SsDevDebugPassword></SsDevDebugPassword>
    <CryptoSeed></CryptoSeed>
  </PropertyGroup>
</Project>
